.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: max-content;
}

.event-bar {
    background-color: black;
    height: 5rem;
    width: .5rem;
}

.event>h1{
    font-size: 1.7rem;
}

.event>h2{
    font-size: 1.2rem;
}